<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Self Serve DA</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./static/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style type="text/css">
        .layui-form-label { width: 150px; }
        .ui-autocomplete {
            max-height: 300px;
            overflow-y: auto;   /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            z-index:1000 !important;
        }
    </style>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>Input</legend>
</fieldset>

<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Source Code</label>
            <div class="layui-input-inline">
                <input id="source_code" type="text" name="source_code" lay-verify="not_empty" autocomplete="off" placeholder="source code" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Kickoff Condition</label>
            <div class="layui-input-inline">
                <input type="text" name="kickoff_condition" autocomplete="off" placeholder="kickof condition" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Business Unit</label>
            <div class="layui-input-inline">
                <input type="text" name="business_unit" autocomplete="off" placeholder="business unit" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Scheduled Pickup Date</label>
            <div class="layui-input-inline">
                <input id="scheduled_pickup_date" type="text" name="scheduled_pickup_date" autocomplete="off" value="15:30" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">File Date Offset</label>
            <div class="layui-input-inline">
                <input type="text" name="file_date_offset" autocomplete="off" placeholder="File Date Offset" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">File Frequency</label>
            <div class="layui-input-inline">
                <select name="file_frequency">
                    <option value="Daily" selected>Daily</option>
                    <option value="Hourly">Hourly</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">File Type Code</label>
            <div class="layui-input-inline">
                <input type="text" name="file_type_code" autocomplete="off" placeholder="File Type Code" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Supplier Email Address</label>
            <div class="layui-input-inline">
                <input type="text" name="supplier_email_address" autocomplete="off" placeholder="Supplier Email Address" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Source Provider Code</label>
            <div class="layui-input-inline">
                <input type="text" name="source_provider_code" autocomplete="off" placeholder="Source Provider Code" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Dev Team Code</label>
            <div class="layui-input-inline">
                <input type="text" name="dev_team_code" autocomplete="off" value="ETL" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">BIZ Contact Email</label>
            <div class="layui-input-inline">
                <input type="text" name="biz_contact_email" autocomplete="off" placeholder="BIZ Contact Email" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Supplier Name</label>
            <div class="layui-input-inline">
                <input type="text" name="supplier_name" autocomplete="off" value="ETL Dev Team <ETLDevTeam@pimco.com>" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Supplier Email</label>
            <div class="layui-input-inline">
                <input type="text" name="supplier_email" autocomplete="off" value="ETL Dev Team <ETLDevTeam@pimco.com>" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Supplier Phone</label>
            <div class="layui-input-inline">
                <input type="text" name="supplier_phone" autocomplete="off" placeholder="Supplier Phone" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Is Paid Feed?</label>
            <div class="layui-input-inline">
                <select name="is_paid_feed">
                    <option value="">null</option>
                    <option value="1" selected>1</option>
                    <option value="0">0</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label id='source_provider_name_label' class="layui-form-label">Source Provider Name</label>
            <div class="layui-input-inline">
                <input id='source_provider_name' type="text" name="source_provider_name" autocomplete="off" placeholder="Source Provider Name" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Onsite Tech Lead</label>
            <div class="layui-input-inline">
                <input type="text" name="onsite_Tech_lead" autocomplete="off" placeholder="Onsite Tech Lead" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Local Folder</label>
            <div class="layui-input-inline">
                <input type="text" name="local_folder" autocomplete="off" placeholder="Local Folder" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Holiday Exclusion</label>
            <div class="layui-input-inline">
                <select name="holiday_exclusion">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                    <option value="null" selected>null</option>
                    <option value="" selected></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Weekend Excluded</label>
            <div class="layui-input-inline">
                <select name="weekend_excluded">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                    <option value="null">null</option>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">JIRA Number</label>
            <div class="layui-input-inline">
                <input type="text" name="jira_number" autocomplete="off" placeholder="JIRA Number" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">File Names</label>
            <div class="layui-input-inline">
                <input type="text" name="file_names" autocomplete="off" placeholder="file_names" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Job Criticality Code</label>
            <div class="layui-input-inline">
                <select name="job_criticality_code">
                    <option value="LOW">LOW</option>
                    <option value="MEDIUM" selected>MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">Environment</label>
            <div class="layui-input-inline">
                <select name="environment">
                    <option value="dev" selected>DEV</option>
                    <option value="beta">BETA</option>
                    <option value="prod">PROD</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Feed Type</label>
            <div class="layui-input-inline">
                <select  id="feed-type-select" name="feed_type" lay-filter="feed-type">
                    <option value="FTP">FTP</option>
                    <option value="HTTP" selected>HTTP</option>
                    <option value="EMail">EMail</option>
                </select>
            </div>
        </div>
    </div>
    <div class="ftp-related layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">FTP Server Name</label>
            <div class="layui-input-inline">
                <input type="text" name="ftp_server_name"  autocomplete="off" placeholder="FTP Server Name" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">FTP UserName</label>
            <div class="layui-input-inline">
                <input type="text" name="ftp_user_name" autocomplete="off" placeholder="FTP UserName" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">FTP Password</label>
            <div class="layui-input-inline">
                <input type="text" name="ftp_password" autocomplete="off" placeholder="FTP Password" class="layui-input">
            </div>
        </div>
    </div>
    <div class="ftp-related layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">FTP file folder</label>
            <div class="layui-input-inline">
                <input type="text" name="ftp_file_folder" autocomplete="off" placeholder="FTP file folder" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">FTP Filename</label>
            <div class="layui-input-inline">
                <input type="text" name="ftp_file_name" autocomplete="off" placeholder="FTP Filename" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">FTP Protocol Code</label>
            <div class="layui-input-inline">
                <input type="text" name="ftp_protocol_code" autocomplete="off" placeholder="FTP Protocol Code" value="SFTP" class="layui-input">
            </div>
        </div>
    </div>
    <div class="ftp-related layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Port No</label>
            <div class="layui-input-inline">
                <input type="text" name="port_no" lay-verify="port_no" autocomplete="off" value="22" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id='main_edit' type="button" class="input-btn layui-btn layui-btn-primary">Fetch</button>
            <button id='main_submit' type="button" class="input-btn layui-btn" lay-submit="" lay-filter="demo1">Submit</button>
        </div>
    </div>

</form>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>Utilities</legend>
</fieldset>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">Upload</div>
                <div class="layui-row layui-card-body">
                    <div class="layui-col-md5">
                        <div class="layui-card">
                            <div class="layui-upload-drag" id="upload">
                                <i class="layui-icon"></i>
                                <p>Click or Drag the file here to Upload</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div id="uploadDemoView">
                                    <p id="upload-message"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">Check Request ID</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-card-body">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <form class="layui-form" action="" lay-filter="check">
                                    <div class="layui-form-item">
                                        <input id='check-request-id' type="text" name="request_id" lay-verify="not_empty" autocomplete="off" placeholder="request id" class="layui-input">
                                    </div>
                                    <div class="layui-form-item">
                                        <button id='check-button' type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="check-button">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-col-md5" style="margin-left: 10px">
                            <div class="layui-card-header">Current Status: <span id="request-status" style="color:green">NULL</span></div>
                            <div class="layui-card">
                                <p id="check-notice"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">Results</div>
                <div class="layui-card-body">
                    <div id="results" class="layui-collapse" lay-filter="download-results">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="./static/layui/layui.js"></script>
<script>
$(document).ready(function(){

layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
  var form = layui.form
  ,layer = layui.layer, laydate = layui.laydate, upload = layui.upload;
  var global_file_loop_id = 'empty';
  var disable_button = function (selector){
      console.log('>>> disable_button ' + selector);
      $(selector).prop('disabled', true);
      $(selector).attr('disabled', true);
  };
  var enable_button = function (selector){
      console.log('>>> enable_button ' + selector);
      $(selector).prop('disabled', false);
      $(selector).attr('disabled', false);
  };
  var say = function(message) {
      return layer.open({
          title: 'Message',
          content: message,
          btn: 'OK'
      });
  };

    let check_file_id = function(file_id, loop_id) {
      console.log('check file-id');
      $('#check-file-notice').text('checking...');
      let url = './csv_check/' + file_id;
      try {
          layui.$.ajax({
              url:url,
              type:'get',
              success:function(resp_data){
                  console.log(resp_data);
                  $('#request-status').text(resp_data.status);
                  if (resp_data.status == 'success' || resp_data.status == 'failure') {
                      clearInterval(loop_id);
                      $('#check-csv-notice').text('task finished');
                  }
                  if (resp_data.status == 'NULL'){
                      $('#check-csv-notice').text('no such file_id :)');
                  }
                  if (resp_data.status == 'failed to check'){
                      $('#check-csv-notice').text('failed to check: '+ resp_data.payload);
                  }
              },
              error: function(a, b, c){
                  $('#check-csv-notice').val('failed to get status');
              },
              complete: function () {
                  enable_button('#check-button');
                  console.log('ajax done');
              }
          });
      } catch(err) {
          console.log(err);
      } finally {
          return false;
      }
  };

  form.verify({
    not_empty: function(value){
      if(value.length < 1){
        return 'cannot be empty';
      }
    }
  });

  let trigger_csv_check = function(file_id){
      if (global_loop_id != 'empty'){
          clearInterval(global_loop_id);
          global_loop_id = 'empty';
      }
      let times = 3599;
      let loop_check = function(){
          console.log(times);
          if (times == 0) {
              $('#check-csv-notice').text('Timeout, please submit or upload again.');
              clearInterval(loop_id);
              return;
          }
          remains = times % 8;
          if (remains == 0) {
              check_file_id(request_id, loop_id);
              let status = $('#request-status').text();
              console.log(status);
              if (status == 'success' || status == 'failure'){
                  console.log(loop_id);
                  clearInterval(loop_id);
              }
          } else {
              if (remains == 1){
                  $('#check-notice').text('will update after 1 second');
              } else {
                  $('#check-notice').text('will update after ' + remains + ' seconds');
              }
          }
          times -= 1;
      }
      let loop_id = setInterval(loop_check, 1000);
      global_loop_id = loop_id;
  };

  form.on('submit(demo-csv-file)', function(data){
    console.log('in submit');
    let url = '{{ '.'+url_for('csv_upload') }}';
    disable_button('.input-btn');
    let load_index = say('Data Submitted, Starting the task.');
    try {
        layui.$.ajax({
            url:url,
            type:'post',
            data: data.field,
            timeout: 20000,
            success:function(resp_data){
               layer.close(load_index);
               if(resp_data.success){
                   $('html,body').animate({ scrollTop: 9999 }, 'slow');
                   $('#check-request-id').val(resp_data.request_id);
                   say(resp_data.request_id + ' started');
                   trigger_check(resp_data.request_id);
                   $('#request-status').text('started');
               } else {
                   say(resp_data.data)
               }
            },
            complete: function () {
                layer.close(load_index);
                console.log('ajax done');
            }
        });
    } catch(err) {
        enable_button('.input-btn');
        console.log(err);
    } finally {
        enable_button('.input-btn');
        return false;
    }
  });

  form.on('submit(check-file-button)', function(data){
    console.log('check file-id');
    check_file_id(data.field.file_id);
  });

});

});
</script>

</body>
</html>
